# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
probSAT
probSAT_H
probSAT_PH
probSAT_D

# CNF-Files
*.cnf

# vim Backup
*.swp

# benchmarks
*.bm

# plot stuff
*.pdf
*.log
